.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #c2c2c2; /* barva celega ozardja */
  color: black;
}

.Vmes {
  height: 100vh;
  width: 100vw;
  background-color: #c2c2c2; /* barva celega ozardja */
}

.Pravi {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #fffbfb; /* barva celega ozardja */
  color: black;
}
